RAILS_ENV=production
RAILS_MASTER_KEY=replace-me
DATABASE_URL=postgresql://user:password@host:5432/postgres?sslmode=require
JWT_SECRET_KEY=replace-me
FRONTEND_URL=https://bakatest.uomi.site
RAILS_LOG_LEVEL=info
PORT=8000
